/*
 * Copyright (c) 2024 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <freq.h>
 #include <zephyr/dt-bindings/gpio/sixtron-header.h>

&sixtron_spi {
	status = "okay";

	nrf700x: nrf7002@0 {
		compatible = "nordic,nrf700x-spi";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(8)>;

		iovdd-ctrl-gpios = <&sixtron_connector_1 DIO4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;    /* D0 */
		bucken-gpios = <&sixtron_connector_1 DIO2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;        /* D1 */
		host-irq-gpios = <&sixtron_connector_1 DIO3 GPIO_ACTIVE_HIGH>;     /* D7 */
	};
};
